body {
    padding-top: 0px;
    background: linear-gradient(rgba(200, 200, 200, 0.3), rgba(200, 200, 200, 0.3)), url("/images/donuts_wallpaper_blue_tileable.png");
    background-position: center;
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
}

#logoimg{
    width: 250px;
    height: auto;
}

.donutpicture {
    width: 200px;
}


HOMEWORK: Create page for a page containing all donuts using controllers and html