body {
    padding-top: 0px;
    background-image: url("/images/donuts_wallpaper_blue_tileable.png");
    background-position: center;
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
}

#logoimg{
    width: 200px;
    height: auto;
}
