body {
    padding-top: 0px;
    /*    background: linear-gradient(rgba(200, 200, 200, 0.3), rgba(200, 200, 200, 0.3)), url("/images/donuts_wallpaper_blue_tileable.png");
    background-position: center;
    position: relative;*/
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #88cad1;
}

#logoimg {
    width: 250px;
    height: auto;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

#hometitle {
    font-family: "Didot";
    text-align: center;
    font-size: 80px;
    margin-top: 70px;
}

#homesubtitle {
    font-family: "Didot";
    text-align: center;
    font-size: 30px;
}

.donutpicture {
    width: 200px;
}

.oneDonut{
    
}

#carouselExampleIndicators{
    margin: auto;
}
/*#background-color {
    width: 75%;
    height: 2000px;
    position: absolute;
    right: 13%;
    opacity: 75%;
    background-color: white;
}*/
.DonutTitle {
    text-align: center;
}

.DonutDescription{
    text-align: center;
}

.DonutImage{
    padding-left: 12.5%;
    width: 250px;
    height: auto;
}

.col{
    display: flex;
    flex-direction: row;
}

.img-thumbnail{
    width: 300px;
    margin-right: 25px;
}

.img-thumbnail a {
    font-size: 18px;
}

.DonutImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
    text-align: center;
}

.img-thumbnail {
    padding: 0;
}

.img-thumbnail .caption {
    padding: 9px;
    color: #333;
}

.img-thumbnail .DonutPrice{
    margin-left: 20px;
}